<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dh.login.serviceimpl.LoginMapper">

    
    <insert id="join">
		 INSERT INTO TB_MEMBER(ID, PASSWORD, NAME, EMAIL, REG_DT) 
		VALUES(#{id }, #{password }, #{name }, #{email },  (SELECT DATE_FORMAT(NOW(), '%Y%m%d') FROM DUAL))	
    </insert> 
    
    <insert id="roleRegist">    		   
		 INSERT INTO TB_MEMBER_ROLE(ID, ROLE_NO) 
		VALUES(#{id }, 'USER')
    </insert>
    
    <!-- 유저 ID 비번 확인 -->
	<select id="findByUsername" resultType="com.dh.login.service.LoginVO">
        SELECT ID
			    , PASSWORD
			    , NAME
			    , EMAIL
			    , REG_DT
		 FROM TB_MEMBER
		WHERE ID = #{username }
    </select>
    
    <!-- 유저 권한 확인 -->
	<select id="findByRoleList" resultType="String">
         SELECT MR.ROLE_NO
		   FROM TB_MEMBER M
		   LEFT OUTER JOIN TB_MEMBER_ROLE MR
		     ON M.ID = MR.ID
	      WHERE M.ID = #{username }
    </select>
    
	<!-- 메인 화면 그룹 리스트 -->
	<select id="mainlist" resultType="com.dh.study.service.StudyVO">
		SELECT SG.GROUP_ID AS groupId
		        , SG.GROUP_NM AS groupNm
		        , SG.GROUP_FOUNDER AS groupFounder
		        , SG.GROUP_BRIEF AS groupBrief
		        , SG.GROUP_EXPLAIN AS groupExplain
		        , SG.TOTAL AS total
		        , SG.CURRENT_MEMBER AS currentMember
		        , SG.REG_DT AS regDt
		        , M.EMAIL AS email
		        , TGM.ID AS checkJoinId
		 FROM TB_STUDY_GROUP SG
		 LEFT OUTER JOIN TB_MEMBER M
		   ON SG.GROUP_FOUNDER = M.ID  	     
         LEFT OUTER JOIN (
							SELECT ID , GROUP_ID 
	                          FROM TB_GROUP_MEMBER GM
							 WHERE ID = #{suserId }
					    ) TGM
 	       ON SG.GROUP_ID = TGM.GROUP_ID
		ORDER BY SG.REG_DT
	    LIMIT 4
	</select>
	
	<select id="findByEmail" resultType="com.dh.login.service.LoginVO">
	    SELECT ID
			 , PASSWORD
			 , NAME
			 , EMAIL
			 , REG_DT
		 FROM TB_MEMBER
		WHERE email = #{email }
	</select>
	
	<select id="checkId" resultType="String">
	    SELECT COUNT(ID) AS idCheck 
	      FROM TB_MEMBER 
	     WHERE ID = #{id }
	</select>
</mapper>